<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold"><strong>Что люди говорят о нас</strong></h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center">
            {% for review in reviews %}
            <!-- Вывод отзывов -->
            <div>
                <h3>{{ review.name }}</h3>
                <p>{{ review.review }}</p>
            </div>
            {% endfor %}
        </div>
        <!-- Пагинация -->
        <div class="pagination justify-content-sm-center">
            <span class="step-links">
                {% if reviews.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ reviews.previous_page_number }}">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ reviews.number }} из {{ reviews.paginator.num_pages }}.
                </span>

                {% if reviews.has_next %}
                <a href="?page={{ reviews.next_page_number }}">Следующая</a>
                <a href="?page={{ reviews.paginator.num_pages }}">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</section>