{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="row justify-content-center mt-3">
        

    <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
        <div class="card-body">
            <h5 class="card-title text-center">{{ tool.name }}</h5>
        </div>
        <img src={{ tool.picture.url }} class="card-img-top" alt="Что у вас тут происходит">
        <div class="text">
            {{ tool.description }}
        </div>
    </div>

        

                {% comment %} <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
                <a href="#">
                    <img src="/static/img/course02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Электроинструмент</h5>
                    </div>
                </a>
                </div>

        

                <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
                <a href="#">
                    <img src="/static/img/course03.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Садовая техника</h5>
                    </div>
                </a>
                </div>

        

                <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
                <a href="#">
                    <img src="/static/img/course04.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Строительный инструмент</h5>
                    </div>
                </a>
                </div>

        

                <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
                <a href="#">
                    <img src="/static/img/course05.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Бытовая техника</h5>
                    </div>
                </a>
                </div>

        

                <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
                <a href="#">
                    <img src="/static/img/course06.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Прочие вещи</h5>
                    </div>
                </a>
                </div> {% endcomment %}

        
    </div>
    <div class="row justify-content-center align-items-center mt-3 mb-n3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>

{% endblock  %}
