{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">{{ title }}</h2>
                    <p class="text-muted">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                {% for category in object_list %}
                    <div class="col mb-4">
                        <div><a href="{{ category.id }}"><img class="rounded img-fluid shadow w-100 fit-cover" src="{{ category.picture.url }}" style="height: 250px;"></a>
                            <div class="py-4">
                                <h4 class="fw-bold">{{ category.name }}</h4>
                                <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
