{% extends 'mainapp/base.html' %}
{% load static humanize %}

{% block content %}

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">{{ title }}</h2>
                <!-- <p class="text-muted">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div> -->
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                {% for tool in object_list %}
                <div class="col mb-4" style="position:relative;padding-top:0px;display:inline-block;">
                    <div>
                        <a href="{{ tool.id }}">
                            {% if tool.availability %}
                            <span class="badge bg-primary" style="position:absolute;right:20px;top:10px;">в
                                наличии</span>
                            {% endif %}
                            <img class="rounded img-fluid shadow w-100 fit-cover" src="{{ tool.picture.url }}"
                                style="height: 250px;" />
                        </a>
                        <div class="py-4">
                            <div class="d-flex justify-content-between">
                                <h4 class="fw-bold">{{ tool.name }}</h4>
                                <p class="text-muted">{{ tool.price|intcomma }} р./сутки</p>
                            </div>
                            <!-- <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
                                odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at
                                eget metus.</p> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>

{% endblock %}